<div class="container experience text-center">
    <div class="row">
      <div class="col-sm-5 skills">
        <h3>Education</h3>
        <div class="items">
            <h5>Product Manager</h5>
            <p>Andres Bello University (Chile) 2013 - 2019</p>
            <h5>FullStack Web Development Certificate</h5>
            <p>Bootcamp "Desafio Latam" (Chile) 2021 - 2022</p>
        </div>
        <h3>Skills</h3>
        <div class="items">
            <h5>Product Manager</h5>
            <p>Andres Bello University (Chile) 2013 - 2019</p>
            <h5>FullStack Web Development Certificate</h5>
            <p>Bootcamp "Desafio Latam" (Chile) 2021 - 2022</p>
        </div>
        <h3>Projects</h3>
        <div class="items">
            <h5>Product Manager</h5>
            <p>Andres Bello University (Chile) 2013 - 2019</p>
            <h5>FullStack Web Development Certificate</h5>
            <p>Bootcamp "Desafio Latam" (Chile) 2021 - 2022</p>
        </div>
      </div>
      <div class="col-sm-7 jobs">
        <h3>Experience</h3>
        <div class="items">
            <h5>Product Manager</h5>
            <h6>Desafio Latam (Chile) - Feb 2021 - Now</h6>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
            </ul>
            <h5>Product Manager</h5>
            <h6>Desafio Latam (Chile) - Feb 2021 - Now</h6>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
            </ul>
            <h5>Product Manager</h5>
            <h6>Desafio Latam (Chile) - Feb 2021 - Now</h6>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quae aspernatur ut fuga, ad, soluta accusantium animi perferendi..</li>
            </ul>
        </div>
      </div>
    </div>
  </div>