<header class="row text-center">
    <div class="col-sm-6">
        <div class="name">
            <h1>Rafael Quinteros</h1>
            <h3>Business & Web Development</h3>
            <p>CCTB Fullstack Web Development Student</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact">
            <h3>Contact Information</h3>
            <p>Email: rafael.quinterosv@gmail.com</p>
            <p>Phone: +1 (778) 318 7653</p>
            <p>LinkedIn:
                <a href="https://www.linkedin.com/in/rafael-quinteros/">linkedin.com/in/rafael-quinteros/</a>
            </p>
        </div>
    </div>
</header>
