<div class="resume row">
    <div class="col-sm-3 text-center">
        <div class="title-resume">
            <h3>Working Resume</h3>
        </div>
    </div>
    <div class="col-sm-9 text-start">
        <div class="text-resume">
            <p>Highly motivated and skilled professional with a strong background in business and web development. Seeking a challenging position in a dynamic company where I can utilize my expertise to drive business growth and create innovative web solutions.</p>
            <p>I will start a full stack web development program with Canadian College Tecnology and Business, to increase my technical skills and know more about IT market in Canada.</p>
        </div>
    </div>
</div>