/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.left p, li{
    padding-left: 10px;
    font-size: 11px;
}

.skills a {
    padding-left: 10px;
    font-size: 11px;   
}

.right p {
    padding-left: 10px;
    font-size: 14px;
}


.main h1 {
    color: azure;
    font-weight: 700;
}

.main h2 {
    font-weight: 600;
    background-color: azure;
    color: black;
}

.main h3 {
    font-style: italic;
    color: azure;
}

.main p {
    color: azure;
}

.main {
    background-color: black;
}

.general .right {
    background-color: black;
    color: azure;
    overflow-x: hidden;
}

.general h2 {
    font-weight: 600;
    background-color: azure;
    color: black;
}

.general h5 {
    font-style: italic;
    font-size: 15px;
}


.main .left {
    overflow-x: hidden;
}
